body {
  background: #e6e6f3;
}

.container {
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 15px;
  margin-top: 30px;
  padding: 20px;
  max-width: 85%;
}

.fa-map-marker-alt {
  font-size: 35px;
  padding: 20px;
}

.col-6 {
  margin: 0 auto;
  padding: 0px 30px;
  width: initial;
}

.cityDateTime {
  text-align: center;
}

.currentData {
  margin: 0px 0px 20px 0px;
  padding: 15px 0px 15px 0px;
}

#temp-box {
  text-align: right;
  font-size: 60px;
  padding: 23px 0px 23px 0px;
}

.swtich-units {
  font-size: 24px;
  position: relative;
  top: -28px;
  left: -10px;
}

#unit-C,
#unit-F {
  font-size: 20px;
  text-decoration: none;
}

.active,
.active:hover {
  cursor: default;
  color: black;
}

#current-icon,
#description {
  display: block;
  margin: 0 auto;
}

#description {
  text-transform: capitalize;
  text-align: center;
  color: #8484ad;
}

ul {
  list-style: none;
  margin: 23px 0px 0px 0px;
  padding: 20px 0px;
}

#forecast-section {
  padding: 10px 10px 10px 10px;
  display: block;
  margin: 0px auto;
  text-align: center;
}

p,
.forcastIcon,
.forecast-time,
.day,
.temp {
  margin: 0 auto;
  padding: 5px;
}

sup {
  top: -0.35em;
}

#source-code {
  display: block;
  margin: 0px auto;
  font-size: 14px;
  max-width: 80%;
  color: #8a8a8a;
}
#source-code-link {
  text-decoration: none;
}

#updatetime {
  color: #8484ad;
  text-align: center;
  font-size: 14px;
}
